.root {
  -fx-font-family: "Comic Sans";
}

.button {
  -fx-background-color: linear-gradient(#f2f2f2, #d6d6d6),
  linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
  linear-gradient(#dddddd 0%, #f6f6f6 50%);
  -fx-text-fill: black;
}

.button:hover {
  -fx-background-color: linear-gradient(#dddddd 0%, #f6f6f6 50%),
  linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
  linear-gradient(#f2f2f2, #d6d6d6);
}

.combo-box {
  -fx-background-color: linear-gradient(#f2f2f2, #d6d6d6),
  linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
  linear-gradient(#dddddd 0%, #f6f6f6 50%);
}

.combo-box:hover {
  -fx-background-color: linear-gradient(#dddddd 0%, #f6f6f6 50%),
  linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
  linear-gradient(#f2f2f2, #d6d6d6);
}

.habitat {
  -fx-background-color: white;
}

.slider-box {
  -fx-background-color: #ffffff;
  -fx-border-color: #000000;
  -fx-border-width: 1;
}

.label {
  -fx-background-color: #000000;
  -fx-text-fill: #ffffff;
}
