@font-face{
    font-family: "Consolas";
    src: url("/slogo/resources/font/consola.ttf");
}

.hbox-pane {
    -fx-background-color: black;
}
.text-field {
    -fx-background-color: black;
    -fx-text-box-border: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.text-field:focused {
    -fx-focus-color: transparent;
}

.text-area {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: white;

    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent, black, transparent, black;
}

.text-area .content {
    -fx-background-color: transparent, black, transparent, black;
    -fx-background-radius: 0;
}

.text-area:focused .content {
    -fx-background-color: transparent, black, transparent, black;
}

.text-area:focused {
    -fx-highlight-fill: white;
}

.text-area .content {
    -fx-text-fill: white;
    -fx-highlight-fill: white;
}