.text-field {
    -fx-background-color: black;
    -fx-text-box-border: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.text-field:focused {
    -fx-focus-color: transparent;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, black, transparent, black;
     -fx-text-fill: white;
}

.text-area .content {
    -fx-background-color: transparent, black, transparent, black;
}

.text-area:focused .content {
    -fx-background-color: transparent, black, transparent, black;
}

.text-area:focused {
    -fx-highlight-fill: white;
}

.text-area .content {
    -fx-text-fill: white;
    -fx-highlight-fill: white;
}